<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>应用版本管理</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/fonts.googleapis.com.css"/>
    <link rel="stylesheet" href="../css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <link rel="stylesheet" href="../css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <link rel="stylesheet" href="../css/ace-skins.min.css"/>
    <link rel="stylesheet" href="../css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="../css/ace-ie.min.css"/>
    <link rel="stylesheet" href="../css/sco.message.css"/>
    <script src="../js/ace-extra.min.js"></script>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <script>
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
</head>
<body class="no-skin">
<div th:replace="navbar::navbar"></div>
<div class="main-container ace-save-state" id="main-container">
    <div th:replace="sidebar::sidebar"></div>
    <div class="main-content">
        <div class="page-content  no-padding">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>
                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; 选择换肤</span>
                        </div>
                    </div><!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                                   autocomplete="off"/>
                            <label class="lbl" for="ace-settings-hover"> 子菜单悬浮</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                                   autocomplete="off"/>
                            <label class="lbl" for="ace-settings-compact"> 紧凑侧边栏</label>
                        </div>
                    </div><!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div><!-- /.ace-settings-container -->

            <div class="row no-margin">
                <div class="col-xs-12 no-padding">
                    <div class="tabbable">

                        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tab-container">
                            <li class="active" id="tab-li-home">
                                <a data-toggle="tab" href="#tab-content-home">首页</a>
                            </li>
                        </ul>

                        <div id="tab-content" class="tab-content">
                            <div id="tab-content-home" class="tab-pane in active">
                                <p>欢迎使用移动端应用版本管理系统，如有疑问请联系gaopengfei@danyuantech.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<div th:replace="footer::footer">
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
<!-- /.main-container -->

<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/sco.ajax.js"></script>
<script src="../js/sco.collapse.js"></script>
<script src="../js/sco.confirm.js"></script>
<script src="../js/sco.countdown.js"></script>
<script src="../js/sco.message.js"></script>
<script src="../js/sco.modal.js"></script>
<script src="../js/sco.panes.js"></script>
<script src="../js/sco.tab.js"></script>
<script src="../js/sco.tooltip.js"></script>
<script src="../js/sco.valid.js"></script>
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='../js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    //首页列表数据
    $(function () {
        fetchTabContentPage('/app/allApp', $("#tab-content-home"));
    });

    // 显示成功消息提示
    function showSuccessMessage(message) {
        $.scojs_message(message, $.scojs_message.TYPE_OK);
    }

    // 显示失败消息提示
    function showErrorMessage(message) {
        $.scojs_message(message, $.scojs_message.TYPE_ERROR);
    }
</script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/ace-elements.min.js"></script>
<script src="../js/ace.min.js"></script>
<script src="../js/bootstrap-tab-operate.js"></script>
</body>
</html>